[submodule "lwip/lwip"]
	path = lwip/lwip
	url = https://github.com/SuperHouse/esp-lwip.git
[submodule "extras/mbedtls/mbedtls"]
	path = extras/mbedtls/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "extras/aws_iot/aws-iot-device-sdk-embedded-C"]
	path = extras/aws_iot/aws-iot-device-sdk-embedded-C
	url = https://github.com/ikeyasu/aws-iot-device-sdk-embedded-C.git
